@using Entities.IdentityEntity
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HeartsDesireLuxury</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/images/heartslogo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Cormorant+Garamond:wght@400;600&family=Cinzel:wght@400;700&family=Libre+Baskerville&family=Forum&display=swap" rel="stylesheet">
</head>

<body>
    <header class="navbar" id="navbar">
        <div class="hamburger" onclick="toggleMobileMenu()">
            <i class="fas fa-bars"></i>
        </div>

        <div class="navbar-left">
            <a href="#">Woman</a>
            <a href="#">Men</a>
            <a href="#">Luxury</a>
            <a href="#">Skin Care</a>
            <a href="#">About Us</a>
        </div>

        <div class="logo">Hearts's Desire</div>

        <div class="navbar-right">
            <a href="#"><i class="fas fa-search"></i></a>
            <a href="#"><i class="fas fa-user"></i></a>
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
        </div>

        <div id="mobileMenu" class="mobile-menu">
            <a href="#">Woman</a>
            <a href="#">Men</a>
            <a href="#">Luxury</a>
            <a href="#">Skin Care</a>
            <a href="#">About Us</a>
        </div>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   

    <script src="~/js/site.js"></script>
</body>
</html>
