@model List<Entities.IdentityEntity.ApplicationUser>
@{
    ViewBag.Title = "Customer List";
}
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<!-- Recommended CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">

<!-- Customer Table -->
<table id="customerTable" class="display responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>City</th>
            <th>Phone</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.CustomerName</td>
                <td>@user.Email</td>
                <td>NA</td>
                <td>NA</td>
                <td>@user.PhoneNumber</td>
                <td>
                    <button class="btn btn-danger">Delete</button>
                    <button class="btn btn-primary">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- jQuery + DataTables JS -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!-- DataTables Initialization -->
<script>
    $(document).ready(function () {
        $('#customerTable').DataTable();
    });
</script>


