@model List<Entities.IdentityEntity.ApplicationUser>
@{
    ViewBag.Title = "Customer List";
}
<link rel="stylesheet" href="~/css/AdminCSS/CustomerStyle.css">
    <table>
        <caption>Customer Sign-Up List</caption>
        <thead>
            <tr>
                <th>CustomerID</th>
                <th>Customer Name</th>
                <th>Customer Email</th>
                <th>Customer Country</th>
                <th>Customer City</th>
                <th>Customer Phone No</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.CustomerName</td>
                <td>@user.Email</td>
                <td>India</td> @* not dynamic *@
                <td>Yamuna Vihar</td> @* not dynamic *@
                <td>@user.PhoneNumber</td>
                <td>
                    <Button>Delete</Button>
                    <Button>Edit</Button>
                    
                </td>
            </tr>
        }
        
        </tbody>
    </table>

