@model ServiceContracts.DTO.CustomerUpdate
<div style="margin-top:30%;">
    <form asp-action="ForgetPassword" method="post">
        <label>Email</label>
        <input asp-for="EmailID" />
        <span asp-validation-for="EmailID"></span>

        <label>New Password</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>

        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>

        <button type="submit">Update Password</button>
    </form>
</div>


@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@
