@model CustomerRegister
@{
    ViewBag.Title = "Register";
}
<style>
    * {
    box-sizing:border-box;
    }
    body
    {
    background-color:steelblue;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    overflow:hidden;
    margin:0px;

    }
    .container
    {
    background-color:rgba(0,0,0,0.4);
    padding:15px 15px;
    width:400px;
    border-radius:5px;
    }
    .container h1
    {
    text-align:center;
    margin-bottom:30px;
    }
    .container a
    {
    text-decoration:none;
    color:lightblue;
    }
    .btn
    {
    cursor:pointer;
    display:inline-block;
    width:100%;
    background-color:lightblue;
    padding:15px;
    font-family:inherit;
    font:16px;
    border:0px;
    border-radius:5px;
    }
    .btn:focus
    {
    outline:0;
    }
    .btn:active
    {
    transform:scale(0.98);
    }
    .text
    {
    margin-top:30px;
    }
    .form-control
    {
    position:relative;
    margin: 10px 0px 20px;
    width:300px;
    }
    .form-control input
    {
    background-color:transparent;
    color:white;
    border:0;
    border-bottom: 2px white solid;
    display:block;
    width:100%;
    padding:8px 0px;
    font-size:12px;
    }
    .form-control input:focus,
    .form-control input:valid
    {
    outline:0px;
    }
    .form-control label
    {
    position:absolute;
    top:15px;
    left:0;
    }
    .text-danger
    {
    color:red;
    }

</style>

<div class="container">
    <h1>Register Form</h1>
    <form asp-controller="Account" asp-action="Register" method="post">
        <div class="form-control">
            <input asp-for="Email" placeholder="Email"/>
            <span asp-validation-for="Email" class="text-danger"></span>

            @*        <lable>
                <span style="transition-delay:0ms">E</span>
                <span style="transition-delay:50ms">m</span>
                <span style="transition-delay:100ms">a</span>
                <span style="transition-delay:150ms">i</span>
                <span style="transition-delay:200ms">l</span>
            </lable> *@
        </div>
        <div class="form-control">
            <input asp-for="Phone" placeholder="Contact"/>

            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-control">
            <input asp-for="CustomerName" placeholder="First Name" />
            @* <label>First Name</label> *@
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>
        <div class="form-control">
            <input asp-for="Password" placeholder="Password"/>
            @* <label>Password</label> *@
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-control">
            <input asp-for="ConfirmPassword" placeholder="Confirm Password"/>
            @* <label>Confirm Password</label> *@
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn" id="clickBtn">Register</button>

        <p class="text">Already registered ? <a asp-controller="Account" asp-action="Login">Log in</a></p>
    </form>
</div>


@if (ViewBag.errors != null)
{
    <div style="color:red;">
        @foreach (string error in ViewBag.errors)
        {
            <li>@error</li>
        }
    </div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>