body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 600px;
/*    margin: 50px auto;*/
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0px 0 0px;
    font-weight: bold;
    color: #333;
}

input, textarea, button {
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

textarea {
    resize: vertical;
    height:50px;
}

button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

    button:hover {
        background-color: #45a049;
    }

input[type="file"] {
    padding: 5px;
}

select{
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}
